# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
src/test/.DS_Store
src/test/java/individual_project/.DS_Store
src/test/java/.DS_Store
src/main/java/individual_project/.DS_Store
src/main/java/.DS_Store
src/main/.DS_Store
src/.DS_Store
.DS_Store
.idea/compiler.xml
.idea/gradle.xml
.idea/jarRepositories.xml
.idea/misc.xml
.idea/vcs.xml
.idea/.gitignore
*.class
*.xml
.classpath
*.prefs
.project
